<div class="container-candy">
  <div class="form-candy">
    <%= image_tag "logos/SaMass-Full-Color.svg" %>
    <%= form_tag candys_path, method: :get, class: "search-form-candy" do %>
      <%= text_field_tag :search, params[:search], placeholder: "Rechercher une confiserie" %>
      <%= submit_tag "Rechercher" %>
    <% end %>

    <%= form_tag candys_path, class: "form-search-category", method: :get do %>
      <div class="container-gallery-form">
        <div class="mobile-dropdown">
          <ul id="categoryOptions" class="category-options-candy">
            <li class="category-li-candy">
              <%= button_tag type: "button", class: "category-button bl-txt", data: { newproduct: 'true' } do %>
                Nouveaux Produits
              <% end %>
              <%= hidden_field_tag :newproduct, params[:newproduct] %>
            </li>
            <% Candy.distinct.pluck(:category).each do |category| %>
              <li class="category-li-candy">
                <%= button_tag type: "button", class: "category-button", data: { category: category } do %>
                  <%= category %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <%= hidden_field_tag :category, params[:category] %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container-gallery-candys">
    <% @candys.each do |candy| %>
    <div class="cards-gallery-candys">
      <div class="gallery-candys">
        <div class="container-size-img">
          <%= image_tag "confiseries/#{candy.img}", class: "img-candy", alt:"#{candy.tag}" %>
        </div>
        <div class="container-size-text">
          <span class="span-candy-name"><img class="img"><%= candy.name %></span>
          <span class="span-candy-category"><%= candy.category %></span>
          <span class="span-candy-unity">Unité: <%= candy.unity %></span>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
