<%= form_tag candys_path, method: :get, class: "search-form" do %>
  <%= text_field_tag :search, params[:search], placeholder: "Rechercher une confiseries" %>
  <%= submit_tag "Rechercher", class: "btn btn-primary" %>
<% end %>
<%= form_tag candys_path, method: :get do %>
  <% Candy.distinct.pluck(:category).each do |category| %>
    <label>
      <%= radio_button_tag :category, category, params[:category] == category %>
      <%= category %>
    </label>
  <% end %>
  <%= submit_tag "Filtrer" %>
<% end %>

<div class="container-blocks container-gallery-candy">
  <% @candys.each do |candy| %>
    <div class="gallery-candy">
      <%= image_tag "confiseries/#{candy.img}", class: "img-candy", alt:"#{candy.tag}" %>
      <div class="text-candy">
        <span class="span-candy"><%= candy.name %></span>
        <span class="span-candy"><%= candy.category %></span>
      </div>
    </div>
  <% end %>
</div>
