<div class="navbar">
  <div class="container">
    <%= link_to "home", class: "navbar-brand" do %>
      <%= image_tag "logos/SaMass-Full-Color.svg" %>
    <% end %>
    <div class="burger-icon" id="burger-icon">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <div class="navbar-collapse">
      <ul class="navbar-nav">
        <%= link_to 'Accueil', home_path, class: 'nav-item' %>
        <%= link_to 'Nos confiseries', candys_path, class: 'nav-item' %>
        <%= link_to 'Nos contenants', containers_path, class: 'nav-item' %>
        <%= link_to 'Nous contacter', contact_path, class: 'nav-item' %>
      </ul>
    </div>
  </div>
</div>
