<div class="navbar">
  <div class="container">
    <%= link_to "home", class: "navbar-brand" do %>
      <%= image_tag "logos/SaMass-Full-Color.svg" %>
    <% end %>
    <div class="header-links">
      <a href="#"><%=image_tag "logos/square-instagram.svg", class: 'logos-img'%></a>
      <a href="#"><%=image_tag "logos/linkedin.svg", class: 'logos-img' %></a>
      <a href="mailto:lessaveursdemassalia@gmail.com"><%=image_tag "logos/square-envelope-solid.svg", class: 'logos-img' %></a>
      <a href="#"><%=image_tag "logos/square-phone-solid.svg", class: 'logos-img' %></a>
    </div>
    <div class="navbar-collapse">
      <ul class="navbar-nav">
        <%= link_to 'Accueil', home_path, class: 'nav-item' %>
        <%= link_to 'Nos confiseries', candys_path, class: 'nav-item' %>
        <%= link_to 'Nos contenants', containers_path, class: 'nav-item' %>
        <%= link_to 'Nous contacter', contact_path, class: 'nav-item' %>
      </ul>
    </div>
  </div>
</div>
