<!DOCTYPE html>
<html>
  <head>
    <title>Les saveurs de Massalia</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- favicon of massalia  -->
    <%= favicon_link_tag "logos/SaMass-Full-Color.svg", rel: "icon", type: "svg" %>
    <!-- SCSS link -->
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- JS -->
    <%= javascript_include_tag 'application' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Shantell+Sans:ital@1&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render "components/navbar" %>
    <%= yield %>
    <%= render "components/footer" %>
  </body>
</html>
